div {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 420px;
  max-height: 420px;
  margin-top: -210px;
  margin-left: -210px;
  color: gray;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  font-weight: bold;
  word-wrap: break-word;
  text-decoration: none;
  line-height: 45px;
  letter-spacing: 2px;
  word-spacing: 3px;
  padding: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f0f0f0;
}

h1 {
  display: inline;
  font-size: 50px;
  margin: 0px;
}

.eleni {
  color: red;
}

.chappen {
  color: turquoise;
}

.web {
  color: lime;
}

.developer {
  margin-left: 12px;
  color: purple;
}

.and {
  margin-right: 2px;
  margin-left: 2px;
  color: LightGray;
}

.designer {
  margin-right: 3px;
  color: orange;
}

.more {
  color: green;
}

.about {
  margin-right: 16px;
  margin-left: 17px;
  color: Aquamarine;
}

.me {
  color: gray;
}

.myblog {
  margin-right: 41px;
  color: Gold;
}

.follow {
  color: magenta;
}

.on {
  margin-left: 7px;
  color: MediumPurple;
  margin-right: 7px;
}

.twitter {
  color: blue;
}

.instagram {
  margin-right: 24px;
  color: FireBrick;
}

.github {
  color: pink;
}

.linkedin {
  margin-left: 9px;
  color: RoyalBlue;
}

.about-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 452px;
  max-height: 452px;
  margin-top: -226px;
  margin-left: -226px;
}

.about-text p {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: LightSlateGray;
  word-spacing: 1px;
}

.back {
  font-size:14px;
  text-align: right;
}

.about-text a {
  padding-bottom: 2px;
  text-decoration: none;
  box-shadow: 0 1px Aqua;
  outline: 0;
}

.about-text a:hover {
  color: Aqua;
}

.about-text a:visited {
  color: LightSlateGray;
}

@media screen and (max-width: 430px) {
  div {
    position: relative;
    max-width: auto;
    max-height: auto;
    margin-top: 0px;
    margin-left: 0px;
    left: 0%;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
  }

  .eleni, .chappen, .web, .developer, .designer, .about, .myblog, .twitter, .instagram, .github, .linkedin {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 30px;
  }

  .and {
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 30px;
  }

  .more, .me, .follow, .on {
    display: none;
  }

  .about-text {
    position: relative;
    max-width: auto;
    max-height: auto;
    margin-top: 0px;
    margin-left: 0px;
    left: 0%;
  }

}




